<!doctype html>
<html lang="en">
<head>
    <th:block th:include="fragments/header :: head(page=#{page.games}, action=#{action.list})"></th:block>
</head>
<body>
<header th:replace="fragments/header :: header(page=#{page.games})"></header>
<main class="container">
    <div class="row">
        <div class="col">
            <th:block th:if="${not #strings.isEmpty(message)}">
                <div class="alert alert-success alert-dismissible fade show col-4 offset-4" role="alert">
                    <span th:text="${message}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </th:block>
            <a href="/games/create" class="btn btn-primary"><i class="far fa-plus-square"></i></a>
            <table id="gameTable" class="table" style="margin-top:10px;">
                <thead>
                <tr class="text-white">
                    <th class="bg-dark" th:text="#{game.id}">ID</th>
                    <th class="bg-dark" th:text="#{game.name}">Title</th>
                    <th class="bg-dark" th:text="#{game.language}">Language</th>
                    <th class="bg-dark" th:text="#{game.genre}">Genre</th>
                    <th class="bg-dark" th:text="#{game.action}">Action</th>
                </tr>
                </thead>
                <tbody>
                <div th:if="!${#lists.isEmpty(games)}">
                    <tr th:each="game : ${games}">
                        <th th:text="${game.id}" scope="row"></th>
                        <td th:text="${game.name}"></td>
                        <td><span class="badge badge-pill badge-primary" th:each="language : ${game.languages}" th:text="${language.name}">Language</span></td>
                        <td><span class="badge badge-pill badge-success" th:each="genre : ${game.genres}" th:text="${genre.name}">Genre</span></td>
                        <td class="text-center">
                            <div class="btn-group" role="group" aria-label="Action Buttons">
                                <a th:href="@{/games/view/{id}(id=${game.id})}" class="btn btn-info btn-sm"><i class="far fa-eye"></i></a>
                                <a th:href="@{/games/edit/{id}(id=${game.id})}" class="btn btn-success btn-sm"><i class="far fa-edit"></i></a>
                                <a th:href="@{/games/delete/{id}(id=${game.id})}" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/footer :: script"></div>
</body>
</html>